@use "sass:math";
@import "@gouvfr/dsfr/dist/dsfr.min.css";
@import "@gouvfr/dsfr/dist/utility/utility.min.css";


/* ============================================================
	Design system
============================================================ */
.logo_agreste {
	width: 90%;
	height: auto;
  }

.logo_agreste_smartphone{
	width: 25%;
	height: auto;
  }